/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  Begin van het css bestand  */

html{
	width: 100%;
}

/* NAV */

header{
    left: 0;
    background-color: #2f747a;
    width: 100%;
		padding: 1% 0;
}

nav ul li{
    display: inline-block;
		margin: 2% 4% 2% 1%;
}

nav ul li a{
    display: inline-block;
    margin: 0;
		text-decoration: none;
		color: white;
		font-family: "ANDALE MONO";
		font-size: 90%;
}

/* Inleiding */

body.index{
	background-image: url(images/bureau2.jpg);
	background-repeat: no-repeat;
	width: 100%;
  background-size:contain;
}

h1{
		font-size: 220%;
		text-align: center;
		padding-top: 20%;
		font-family: "ANDALE MONO";
}

h2{
	font-size: 160%;
	margin: 5% 0 2% 0;
	font-family: "ANDALE MONO";
}

h2,
p{
	display: inline-flex;
	justify-content: space-between;
	width: 49%;
	text-align: center;
	justify-content: center;
}

p{
	font-size: 100%;
	font-family: "MONACO";
}


/* Projecten */

h3{
	color: #2f747a;
	font-size: 200%;
	text-align: center;
	margin-top: 23%;
	font-family: "ANDALE MONO";
}

article{
	justify-content: center;
}

article section{
	background-color: #aacad8 ;
	margin: 5% 10% -2% 10%;
	padding: 3% 5%;
	margin 0 10%;
	width: 70%;
}

h4{
	font-size: 160%;
	margin: 2% 0;
	color: white;
	font-family: "ANDALE MONO";
}

section p{
	text-align: left;
	color: grey;
	width: 100%;
	margin-bottom: 2%;
}

section a{
	font-size: 100%;
	color: #2f747a;
	margin-left: 52%;
	font-family: "ANDALE MONO";
}

article section img{
	width: 80%;
	margin: 3% 0 3% 10%;
}

/* Footer */

small{
	background-color: #2f747a :
	color: white;
	width: 100%
}

/* project */

.project h1,
.mobiel h1{
	text-align: left;
	margin: -12% 0 0 3%;
}

.project p,
.mobiel p {
	width: 80%;
	text-align: left;
	margin: 4% 0 5% 3%;
	max-width: 650px;
}

.project,
.mobiel{
	margin-left: 3%;
}

.project img{
	width: 90%;
}

section.project{
	padding: 1%;
	background-color: #aacad8;
	border: none;
	margin-top: 3%;
	width: 15%;
	font-family: "ANDALE MONO";
}

.project section button,
.mobiel section button{
	font-size: 100%;
	margin-top: 1%;
	width: 20%;
	background-color: #aacad8;
}

.een{
	margin-right: 49%;
}

.mobiel section .een{
	margin-right: 19%;
}

.mobiel section img{
	width: 80%;
}

.mobiel section p a{
	margin:0;
	display: block;
}

@media only screen and (min-width: 28em){

	h3{
		margin-top: 32%;
	}

	nav ul li a{
			font-size: 110%;
	}

	section a{
		margin-left: 70%;
	}
}

	@media only screen and (min-width: 48em) {

	h3{
			margin-top: 35%;
	}

	nav ul li{
		margin-left: 4%;
	}

	section a{
		margin-left: 50%;
	}

	article{
		display: flex;
		flex-wrap: wrap;
		padding-left: 8%;
	}

	article section{
		width: 30%;
		margin: 5% 8% 3% 0;
	}

	article section img{
    width: 100%;
		margin-left: 0;
		margin-bottom: 6%;
	}

	.mobiel section img{
		width: 40%;
	}

	.mobiel section button{
		width: 12%;
	}

	.mobiel section .een{
		margin-right: 15%;
	}

}

@media only screen and (min-width: 60em) {

	h3{
			margin-top: 10%;
			padding-top: 3%;
			background-color: white;
	}

	article{
		background-color: white;
		padding-left: 1.5%;
	}

	article section{
		width: 20%;
		margin: 5% 2% 3% 0;
	}

	nav ul li{
	    display: inline-block;
			margin: 1% 4% 1% 3%;
	}

	section a{
		margin-left: 40%;
	}

	.down h1{
		margin: -16% 0 0 3%;
	}

	.project p,
	.mobiel p {
		margin: 1% 0 2% 3%;
	}

	.project section img,
	.mobiel section img{
		width: 70%;
	}

	.project section button,
	.mobiel section button{
		font-size: 100%;
		margin-top: 1%;
		width: 10%;
	}

	.een{
		margin-right: 50% ;
	}

	.mobiel section img{
		width: 35%;
	}

	.mobiel section button{
		width: 10%;
	}
}

@media only screen and (min-width: 85em) {

	h3{
			margin-top: 8%;
			padding-top: 2%;
			background-color: white;
	}

	h1{
			font-size: 300%;
			padding-top: 17%;
	}

	h2{
		font-size: 200%;
	}

	section a{
		margin-left: 60%;
	}

	.project img{
		width: 60%;
	}

	.project section button,
	.mobiel section button{
		font-size: 100%;
		margin-top: 1%;
		width: 10%;
	}

	.project h1,
	.mobiel h1{
		margin: -14% 0 0 3%;
	}

	.project p,
	.mobiel p {
		margin: 2% 0 3% 3%;
	}

	.mobiel section img{
		width: 25%;
	}

	.mobiel section button{
		width: 8%;
	}

	.mobiel section .een{
		margin-right: 9%;
	}
}

	@media only screen and (min-width: 90em) {

		h3{
				margin-top: 8%;
				padding-top: 2%;
				font-size: 250%;
		}

		h1{
				font-size: 350%;
				padding-top: 17%;
		}

		h2{
			font-size: 250%;
		}

		p{
			font-size: 100%;
		}

		li{
			font-size: 100%;
		}

		.project img{
			width: 50%;
		}
